body {
    background-color: darkturquoise;
    font-size: 40px;
    padding: 20px;
}
header {
    text-align: center;
}
nav {
    text-align: right;
    font-size: 18px;
}
nav a {
    margin-left: 20px;
}
img {
    padding: 30px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.nav1 {
    text-align: left;
}
.btn{
    background-color: green;
}